<!-- ab jaise humne ye ek Parent template bana ki hai ab hum chahe to jb ise aage inherit karenge
     to hum isme changes kr skte hai -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>


<!-- Child Template mein iska inheritance kaise karenge uska example -->

#1.
{% extends "base.html" %}
#2.
{% block title %}Success{% endblock %} 
#3.
{% block content %}
   <div class="container">
      <h1>Top Secret </h1>
      <iframe src="https://giphy.com/embed/Ju7l5y9osyymQ" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p><a href="https://giphy.com/gifs/rick-astley-Ju7l5y9osyymQ">via GIPHY</a></p>
   </div>
{% endblock %}

<!-- #1. This line of code tells the templating engine (Jinja) to use "base.html" as the template for this page.

#2. This block inserts a custom title into the header of the template.

#3. This block provides the content of the website. The part that is going to vary between webpages. -->