h1{
    color: red;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

h2{
    font-size: 20px; /* 1 px = 1/96 of an inch */
    font-size: 20pt; /* 1 pt = 1/72 of an inch */
    font-size: 1em; /* 1 em = 100 % of the parent element */
    font-size: 1rem; /* 1 rem = 100 % of the root element */
    font-size: xx-large;
    font-size: x-large;
}

h3{
    font-weight: bold;
    font-weight: normal;
    font-weight: lighter; /* number - 100 */
    font-weight: bolder; /* number + 100 */
    font-weight: 100; /* Lower limit for number */
    font-weight: 900; /* Upper limit for number */
}

h4{
    font-family: "Times New Roman",serif;
    font-family: Helvetica, sans-serif;
}

h5{
    text-align: center;
    text-align: right;
    text-align: left;
    text-align: justify;
}


